@charset "UTF-8";
/* CSS Document */
@media (max-width: 1090px) {
	#leftColumn p{
		font-size: .75em;
	}
}

@media (max-width: 880px) {
	#leftColumn {
		margin: 0 auto;
		float: none;
		border-right: none;	
		text-align: center;
		width: 30%;
		padding-right: none;
		padding-top: 5%;
	}
	
	#leftColumn img{
		padding: 0;
		float: none;	
	}
	
	#leftColumn p{
		margin: 0 auto;
		padding: 0;	
	}
	
	#rightColumn {
		margin: 0 auto;
		float: none;	
	}
}
